extends layout

block content
  h1 IS217 Calculator
  #divWrapper
   #divDisplay
   button.classDigit(type='button', value='7')
   button.classDigit(type='button', value='8')
   button.classDigit(type='button', value='9')
   button.classDigit(type='button', value='4')
   button.classDigit(type='button', value='5')
   button.classDigit(type='button', value='6')
   button.classDigit(type='button', value='1')
   button.classDigit(type='button', value='2')
   button.classDigit(type='button', value='3')
   button.classDigit(type='button', value='0')
   button#idClear(type='button', value='C')
   button#idEnter(type='button', value='Enter')
