doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/qunit.css')
    script(src='/javascripts/QUnit/qunit.js')
    script(src='/javascripts/QUnit/tests.js')
  body
   #qunit
   #qunit-fixture
